.sideMenu {
  height: calc(100vh - 120px);
  margin-left: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  position: sticky;
  top: 80px;
  overflow: hidden;
}
.avatar {
  display: flex;
  padding-top: 24px;
  align-items: center;
}
.avatar h2 {
  margin-left: 10px;
  margin-bottom: 0;
}
.write {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.menu {
  height: calc(100% - 104px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
}
